
<h1>Vehiculos que están en el parqueadero</h1>
<!--<ul>
  <li *ngFor="let vehiculo of vehiculos">
      Placa: {{vehiculo.placaVehiculo}}
      Tipo Vehiculo: {{vehiculo.tipoVehiculo}}
      Fecha Ingreso: {{vehiculo.fechaEntrada}}
  </li>
</ul>-->

<div style="align:center">
<table align="center" border='1'>
    <tr>
      <th>Placa Vehiculo</th>
      <th>Tipo Vehiculo</th>
      <th>Fecha Entrada</th>
    </tr>
    <tr *ngFor="let vehiculo of vehiculos">
      <td>{{vehiculo.placaVehiculo }}</td>
      <td>{{ vehiculo.tipoVehiculo }}</td>
      <td>{{ vehiculo.fechaEntrada }}</td>
    </tr>
</table>
</div>
