.contenedor{
  height: 200px;
  width: 300px;
  align: center;
  margin: 0 auto;
  border-radius: 4px;
}

.etiqueta{
  display: block;
  text-align: left;
}

.input{
  width: 150px;
  display: inline-block;
  float: right;
  border: 2px solid black;
  border-radius: 4px;
}

.boton{
  border-radius: 3px;
}
