.contenedor{
  height: 200px;
  width: 400px;
  background-color:red;
  align: center;
  margin: 0 auto;
}

.etiqueta{
  float: left;
  display: block;
}

.input{
  width: 150px;
  float: right;
  display: block;
}
