  <div class="contenedor">
        <label class="etiqueta">Placa Vehiculo:
              <input class="input" type="text" [(ngModel)]="nuevoVehiculo.placa" placeholder="Placa">
          </label>
          <br><br>
          <label class="etiqueta">Cilindraje Vehiculo:
              <input class="input" type="number" [(ngModel)]="nuevoVehiculo.cilindraje" placeholder="Cilindraje">
          </label>
          <br><br>
          <label class="etiqueta">Tipo de Vehiculo:
              <input class="input" type="text" [(ngModel)]="nuevoVehiculo.tipoVehiculo" placeholder="Tipo Vehiculo">
          </label>
          <br><br>

          <button (click)="agregarVehiculo()">Ingresar Vehiculo</button>
          <br>
          <div *ngIf="respuesta">
          Respuesta del servicio: {{respuesta}}
        </div>
      </div>
