  <div>
        <label>nombre:
              <input type="text" [(ngModel)]="nuevoVehiculo.placa" placeholder="Placa">
          </label>
          <br><br>
          <label>categoria:
              <input type="number" [(ngModel)]="nuevoVehiculo.cilindraje" placeholder="Cilindraje">
          </label>
          <br><br>
          <label>cantidad Disponible:
              <input type="text" [(ngModel)]="nuevoVehiculo.tipoVehiculo" placeholder="Tipo Vehiculo">
          </label>
          <br><br>

          <button (click)="agregarVehiculo()">Ingresar Vehiculo</button>
          <br>
          Placa: {{nuevoVehiculo.placa}}
      </div>

<br><br><br><br><br><br><br><br>

      <div>
        <label>Ingrese Placa:
            <input type="text" [(ngModel)]="placaVehiculoSalida" placeholder="Placa Vehiculo">
        </label>
        <br><br>

        <button (click)="consultarCostoParqueadero()">Consultar Costo Parqueadero</button>
        <br><br>
        <div *ngIf="factura">
          Placa Vehiculo:{{factura.placaVehiculo}}
          <br>
          Cilindraje Vehiculo: {{factura.cilindrajeVehiculo}}
          <br>
          Fecha Entrada: {{factura.fechaEntrada}}
          <br>
          Fecha Salida: {{factura.fechaSalida}}
          <br>
          Tipo Vehiculo: {{factura.tipoVehiculo}}
          <br>
          Costo Parqueo: {{factura.costoParqueo}}
      </div>
      </div>
